* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lobster", cursive; }

html {
  background-image: -webkit-linear-gradient(#6058d2, #daad86);
  background-image: linear-gradient(#6058d2, #daad86);
  min-height: 100%;
  max-height: 120%; }

#title {
  margin-top: 15vmin;
  text-align: center; }
  #title h1 {
    font-size: 8vmin;
    color: #daad86; }

/* Search Div */
#search {
  margin: 10% auto 5% auto;
  width: 40%;
  /* Surprise me button */ }
  #search #wrap {
    height: 8vmin;
    border-radius: 1vmin;
    position: relative; }
    #search #wrap span {
      font-size: 4.5vmin;
      width: 12%;
      text-align: center;
      background-color: #0797df;
      padding: 2vmin 0; }
    #search #wrap input {
      width: 88%;
      background-color: #98dafc;
      font-size: 3.5vmin;
      text-indent: 1vmin;
      outline: none; }
    #search #wrap span, #search #wrap input {
      height: 100%;
      display: block;
      float: left;
      border: none; }
  #search #wrap::after {
    content: "";
    display: block;
    clear: both; }
  #search a {
    cursor: pointer;
    font-size: 4vmin;
    display: block;
    margin: 8vmin auto;
    margin-bottom: 5vmin;
    width: 70%;
    max-width: 200px;
    text-align: center;
    padding: 1vmin;
    background-color: #312c32;
    box-shadow: 0 -4px 4px black inset, 0 0 3px rgba(0, 0, 0, 0.7);
    border-radius: 0.5vmin;
    color: #feffff; }
  #search a:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    outline: none; }
  #search a:hover {
    opacity: 0.8; }

#suggestions {
  width: 100%;
  position: absolute;
  top: 100%;
  max-height: 30vmin;
  overflow-y: scroll;
  z-index: 100; }

#suggestions > p {
  font-size: 3vmin;
  text-indent: 2vmin;
  cursor: pointer;
  background-color: #312c32;
  color: #98dafc; }

#suggestions > p:hover {
  background-color: #242225; }

#info {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  background-color: #312c32;
  border-radius: 1vmin;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  #info img {
    max-width: 100px;
    max-height: 100px;
    margin: 2vmin; }
  #info #text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #info #text p {
      color: #feffff;
      font-size: 2.6vmin;
      text-indent: 1.5vmin;
      font-family: Sans-serif !important;
      line-height: 3.6vmin;
      margin-top: 10px; }
    #info #text a {
      color: #daad86;
      font-size: 3.6vmin;
      margin-bottom: 10px; }
    #info #text a:hover {
      color: #ff9000; }

::-webkit-scrollbar {
  width: 2.5vmin; }

::-webkit-scrollbar-track {
  background-color: #feffff; }

::-webkit-scrollbar-thumb {
  background-image: -webkit-linear-gradient(#312c32, #98dafc);
  background-image: linear-gradient(#312c32, #98dafc); }

@media only screen and (max-width: 650px) {
  #search {
    margin-bottom: 18vmin;
    margin-top: 18vmin;
    width: 60%; }
    #search a {
      margin-top: 10vmin; }

  #info {
    width: 90%; } }
@media only screen and (max-width: 1000px) and (min-width: 651px) {
  #search {
    margin-bottom: 11vmin;
    margin-top: 17vmin;
    width: 45%; }
    #search a {
      margin-top: 8vmin; }

  #info {
    width: 80%; } }
